<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='webicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>

<nav>
  <h1>快准-公文纠错系统</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
<!--      <li><a href="/changepwd">修改密码</a>-->
      <li><a href="/logout">退出登录</a>
      <li><a href="/changeemail">更改电子邮箱</a>
      <li><a href="/changepassword">更改密码</a>

    {% else %}
      {# <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a> #}
    {% endif %}

  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>

<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul style="padding:0;">
            {% for category,message in messages %}
                {% if category == 'error' %}
                    <li style="padding:0;margin:0;list-style-type:none;text-align:center;">
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    </li>
                {% elif category == 'warning' %}
                    <li style="padding:0;margin:0;list-style-type:none;text-align:center;">
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    </li>
                {% elif category == 'info' %}
                    <li style="padding:0;margin:0;list-style-type:none;text-align:center;">
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

<!-- 郭哥的版本把这句话删掉了
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
-->
<span id = "show_copyright">Copyright &copy; 2023 One small Tree Tech. All Rights Reserved.</span>
</body>
</html>
