{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}更改密码{% endblock %}</h1>
{% endblock %}

{% block content %}
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
<div class="container">
	<form method="post" action="do_changepwd">
		<div class="row">
	  		<div class="col">
				<label for="currentpassword" class="form-label">当前密码:</label>
				<input type="password" class="col" id="currentpassword" placeholder="输入当前密码" name="currentpassword" required>
	  		</div>
		</div>
		<div class="row">
	  		<div class="col">
				<label for="newpassword" class="form-label">新密码:</label>
				<input type="password" class="col" id="newpassword" placeholder="输入新密码" name="newpassword" required>
	  		</div>
		</div>
			
		<div class="row">
	  		<div class="col">
				<label for="assurepassword" class="form-label">确认密码:</label>
				<input type="password" class="col" id="assurepassword" placeholder="确认密码" name="assurepassword" required>
	  		</div>
		</div>
		
	  <input type="submit" class="btn btn-primary" value="确认" name="确认">
		
	</form>
  <form method="post" action="do_changepwd">
    <input type="submit" class="btn btn-secondary" value="返回" name="返回">
  </form>
</div>
{% endblock %}