{% extends 'base.html' %}

{% block header %}
<!--  <h1>{% block title %}纠错demo pycorrector-ai.jry{% endblock %}</h1>-->

{% endblock %}

{% block content %}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
            aria-selected="true">文本纠错</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
            aria-selected="false">文档纠错</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    文本纠错...

    <form method="post" action="do_check" onsubmit="return mySubmit();return false;">
      <label for="input_text">文本</label>
  <!--    <input type="text" name="input_text" id="input_text" required value="{{ last_input }}">-->
      <textarea rows="8" cols="30" name="input_text" id="input_text">{{ last_input }}</textarea>
      <input type="submit" value="提交">
    </form>

    <script type="text/javascript">
       function mySubmit() {
         console.log('1 clear msg')
         let msg = document.getElementById("msg")
         console.log('2', msg)
         msg.textContent = ""
       }
    </script>
    <!--<iframe id="reset_b" src =get_flashed_messages() width=100% height=46%>
      <p>Your browser does not support iframes.</p>
    </iframe>-->

    <h1>文本纠错结果</h1>
    {% for msg in get_flashed_messages() %}
       <iframe id="reset_b" srcdoc="{{msg}}" width=100% height=46%>
         <p>Your browser does not support iframes.</p>
       </iframe>
    {% endfor %}




  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    文档纠错...

    <script> alert("上传文件格式错误，请重新上传");</script>

    <h1 align="center">上传文档(支持docx,pdf,jpg格式文件)</h1>
    <div align="center">
        {# enctype：属性用于指定将上传文件数据发送给服务器端之前对表单数据进行编码的斱式 #}
        {# enctype="multipart/form-data" => 表示不对字符编码。当使用有文件上传控件的表单时，该值是必需的。 #}
        <form action="/uploader" method="post" enctype="multipart/form-data">
            <br><br><br>
            {# accept可以自定以文件上传格式 #}
            <input type="file" name="file" accept=".txt, .pdf, .doc, .docx, .md" value="{{ csrf_token }}" />
            <br><br><br>
            <input type="submit" value="提交" />
        </form>

        <br><br><br>
    </div>
  </div>
</div>


{% endblock %}
