{% extends 'base.html' %}

{% block header %}
<!--  <h1>{% block title %}纠错demo pycorrector-ai.jry{% endblock %}</h1>-->

{% endblock %}

{% block content %}
  <form method="post" action="do_check" onsubmit="return mySubmit();return false;">
    <label for="input_text">文本</label>
<!--    <input type="text" name="input_text" id="input_text" required value="{{ last_input }}">-->
    <textarea rows="8" cols="30" name="input_text" id="input_text">{{ last_input }}</textarea>
    <input type="submit" value="提交">
  </form>

  <script type="text/javascript">
     function mySubmit() {
       console.log('1 clear msg')
       let msg = document.getElementById("msg")
       console.log('2', msg)
       msg.textContent = ""
     }
  </script>
<a href="static/test210.html" target="blank">static/test210.html</a>
{% endblock %}
