{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:c="">
  <div class="secend_page" id="page2">
    <form action="/turn_back" method="post">
      <button class="returnBtn_demoX" type="submit" sytle="min-width: 10em;">返回</button>
    </form>
  </div>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <script>alert("上传文件无效！");</script>

    <div style="display: block; height: 50px;">
        <span style="display:inline;"><h3 style="width: auto; float: left;">文档纠错</h3></span>
        <span style="display:inline;">
            <img name="img_demo1" style="border-radius:20px; object-fit: contain; width: 210px; float: right;" src="{{ url_for('static', filename='pycorrector.png') }}" alt="PycorrecTor">
            <label for="img_demo1" style="float:right; vertical-align: middle; margin-top: 13px; margin-bottom: 13px;">Model By</label>
        </span>
    </div>

    <form action="/submit" method="post">
      <label for="lang">可用模型</label>
        <span>
          <select name="models" id="lang">
            {%  if g.flag == 0 %}
                <option value="default" selected>default</option>
                <option value="train">train</option>
            {%  elif g.flag == 1 %}
                <option value="default">default</option>
                <option value="train" selected>train</option>
            {% else %}
                <option value="default" selected>default</option>
                <option value="train">train</option>
            {% endif %}
          </select>
          <button id="submit_demoX" type="submit" onclick="alert_self()">submit</button>
        </span>
    </form>

        <br><br>
    <h4>请上传.docx/.pdf/.jpg格式的包含公文内容的文件</h4>
    <div align="center">
        {# enctype：属性用于指定将上传文件数据发送给服务器端之前对表单数据进行编码的斱式 #}
        {# enctype="multipart/form-data" => 表示不对字符编码。当使用有文件上传控件的表单时，该值是必需的。 #}
        <form action="/uploader" method="post" enctype="multipart/form-data">
            <br><br><br>
            {# accept可以自定以文件上传格式 #}
            <input type="file" name="file" accept=".txt, .pdf, .doc, .docx, .md" value="{{ csrf_token }}" />
            <br><br><br>
            <input class="demoX_submit" type="submit" onclick="test0()" value="提交" />
        </form>

    <script type="text/javascript">
        function displayAlert(type, data, time){
        var lunbo=document.createElement("div");

        if(type == "success") {
        lunbo.style.backgroundColor = "#009900";
        }
        else {
        console.log("入参type错误");
        return;
        }

        lunbo.id="lunbo";
        lunbo.style.position = "absolute";
        lunbo.style.width = "200px";
        lunbo.style.height = "60px";
        lunbo.style.left = "43%";
        lunbo.style.top = "25%";
        lunbo.style.color = "white";
        lunbo.style.fontSize = "25px";
        lunbo.style.borderRadius = "20px";
        lunbo.style.textAlign="center";
        lunbo.style.lineHeight="60px";

        if(document.getElementById("lunbo")==null){
        document.body.appendChild(lunbo);
        lunbo.innerHTML=data;
        setTimeout(function(){
        document.body.removeChild(lunbo);
        } ,time);
        }
        }
        function test0() {
            displayAlert("success", "文件提交成功！", 1500);
        }
        function alert_self(){
            var sel=document.getElementById('lang');
            var sid=sel.selectedIndex;
            alert("成功修改模型!\n模型已经被修改为 \""+sel[sid].value+"\"");
        }
    </script>

        <br><br><br>
    </div>
  </div>
</div>

{% endblock %}